@import './variables.scss';
.presentacion {
    display:flex;
    flex-flow: column;
    height:auto;
    margin-top:6em;
    margin-bottom:4em;
    justify-content:center;
    align-items: center;
}
.jumbo {
        background:rgba(255, 255, 255, 0.8);
}
.negrita {
    font-weight: bold;
    color:$color-principal;

}
.link {
    text-decoration: none;
    color: $color-principal;
}

.botonGeneral,
.botonGeneral::after {
    transition: all 0.3s;
}

.botonGeneral {
    background: none;
    border: 2px solid $color-principal;
    border-radius: 5px;
    color: $color-principal;
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin: 1em auto;
    padding: 0.8em 1.5em;
    position: relative;
    text-transform: uppercase;
    transition: 0.15s ease-in-out;

    .textoBoton {
        position: relative;
        left: -9px;
        transform-origin: left right;
        transform: translateX(-9px);
        transition: 0.2s ease-in-out;
    }

    .iconoBoton,
    .iconoBoton::before {
        opacity: 0;
        height: 1em;
        transform-origin: left right;
        transform: translateX(-10px) scale(1.25);
        transition: 0.15s ease-out;
    }
    &:focus {
       outline: none;
    }
}

.botonGeneral::before,
.botonGeneral::after {
    background: $color-principal !important;
    content: '';
    position: absolute;
    z-index: -1;
}

.botonGeneral:hover {
    color: white !important;
    background: none !important;
    border: 2px solid $color-principal !important;
    z-index: 1;

    .iconoBoton,
    .iconoBoton::before {
        opacity: 1;
        transform-origin: left right;
        transform: translateX(0px) scale(1);
        transition: 0.15s ease-out;
    }
    .textoBoton {
        position: relative;
        left: 0;
        transform-origin: left right;
        transform: translateX(0);
        transition: 0.2s ease-in-out;
    }

    
}


.btn5 {
    overflow: hidden;
}

.btn5::after {
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}

.btn5:hover:after {
    height: 100%;
    width: 135%;
}
.fullContainer {
    background:rgba(255, 255, 255);
    margin-top:0;
    margin-bottom:0;
}
.contacto {
    background:white;
    padding:1.3em;
    margin-bottom:2em;
    border-radius:0.5em;
    border:1px solid $color-principal;
}