/* Tema, colores principales */
$color-principal: #876c13;
$color-secundario: #a09665;
$color-light: #dddcb3;
$footer-fondo: rgb(78,78,78);
$footer-texto: rgb(207,207,203);
$footer-icono: rgb(210,177,50);